## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [142]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [143]:
sample_list_1 = random.sample(range(0,100),80)
print (sample_list_1)

[42, 24, 97, 34, 71, 3, 66, 69, 53, 87, 39, 94, 26, 68, 52, 73, 40, 25, 82, 0, 67, 48, 61, 99, 81, 22, 74, 41, 31, 77, 35, 91, 78, 4, 72, 89, 33, 83, 14, 98, 7, 19, 27, 37, 57, 45, 58, 60, 43, 59, 51, 55, 17, 96, 65, 90, 28, 49, 16, 12, 21, 56, 88, 8, 13, 70, 92, 36, 18, 6, 84, 30, 11, 75, 2, 80, 63, 29, 5, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [144]:
set1 = set(sample_list_1)
print(set1)
print("Length is:", len(set1))

# Yes, length is still 80

{0, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
Length is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [145]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[82, 77, 61, 92, 71, 74, 49, 93, 61, 20, 45, 12, 85, 75, 20, 77, 71, 73, 38, 29, 59, 98, 8, 21, 50, 15, 52, 28, 81, 87, 70, 68, 96, 77, 84, 15, 66, 45, 81, 5, 49, 90, 2, 13, 75, 81, 61, 85, 75, 87, 13, 8, 98, 77, 5, 5, 100, 83, 46, 42, 32, 20, 98, 56, 2, 83, 89, 96, 90, 13, 53, 40, 7, 73, 95, 1, 52, 100, 100, 91]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [146]:
set2 = set(sample_list_2)
print(len(set2))

# No, length isn't 80

48

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [147]:
set3 = set1-set2

print(set3)

{0, 3, 4, 6, 11, 14, 16, 17, 18, 19, 22, 24, 25, 26, 27, 30, 31, 33, 34, 35, 36, 37, 39, 41, 43, 48, 51, 55, 57, 58, 60, 63, 65, 67, 69, 72, 78, 80, 88, 94, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [148]:
set4 = set2-set1

print(set4)

{32, 1, 100, 38, 46, 15, 50, 20, 85, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [149]:
set5 = set1.intersection(set2)

print(set5)

{2, 5, 7, 8, 12, 13, 21, 28, 29, 40, 42, 45, 49, 52, 53, 56, 59, 61, 66, 68, 70, 71, 73, 74, 75, 77, 81, 82, 83, 84, 87, 89, 90, 91, 92, 93, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [150]:
print(len(set1)) #First list with 80 random unique values -> P(A)
print(len(set2)) #Second list with 80 random NOT unique values -> P(B)
print(len(set3)) #Third list with elements in set1 but not in set2 -> P(A,~B)
print(len(set4)) #Fourth list with elements in set2 but not in set1 -> P(B,~A)
print(len(set5)) #Fifth list with elements shared between set1 and set2 -> P(A ∩ B)

80
48
42
10
38

In [151]:
# P(A) = P(A ∩ B) + P(A,~B) 
len(set1) == len(set5)+ len(set3)

True

In [152]:
# P(B) = P(A ∩ B) + P(B,~A)
len(set2) == len(set5)+ len(set4)

True

#### Create an empty set called `set6`.

In [153]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [154]:
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [155]:
bool(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [156]:
set1.issubset(set2)

False

In [157]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [158]:
bool(set3.union(set4,set5)==set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [159]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [162]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in set1.copy():
    if i in list_to_remove:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 16, 17, 18, 22, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 37, 40, 42, 43, 45, 48, 52, 53, 55, 56, 57, 58, 60, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 96, 97, 98}